<!doctype html>
<html>
	<head>
		<title>Accountabull</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<link rel="stylesheet" href="style.css">
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="script.js" defer></script>
	</head>
	<body>
		<div id="app">
			<h1>Accountabull</h1>
			<nav>
				<router-link to="/tasks">Tasks</router-link>
				<router-link to="/profile">Profile</router-link>
				<router-link to="/friends">Friends</router-link>
			</nav>
			
			<div v-if="path == '/tasks'">
				<h2>My Tasks</h2>
				<div v-if="tasks.length == 0">
					<p>Moo!<br>(You don't have any tasks yet!)</p>
					<button>Add a task</button>
				</div>
				<div v-else>
					<div v-for="task in tasks">
						<input type="text" v-model="task.name">
						<input type="date" :value="getDate(task.time)" @input="setDate(task, $event.target.valueAsDate)">
						<input type="time" :value="getTime(task.time)" @input="setTime(task, $event.target.valueAsDate)">
						<p>{{ task.time }}</p>
						<p>{{ task.name }}</p>
					</div>
				</div>
			</div>
			<div v-else-if="path == '/profile'">
				<h2>My Profile</h2>
			</div>
			<div v-else-if="path == '/friends'">
				<h2>My Friends</h2>
			</div>
		</div>
	</body>
</html>