<h1>{{.Failer}} Failed to Complete a Task!</h1>
<p>Hi there {{.Recipient}}!</p>
<p>Just wanted to let you know that {{.Failer}} failed to Complete
"<span>{{.Task}}</span>" by the deadline of {{.Time}} 🐄.</p>
{{if or .Phone .Facebook .Twitter .Linkedin .Email}}
<ul>
	{{if .Phone}}
	<li>Call or Text {{.Failer}}: {{.Phone}}</li>
	{{end}}
	{{if .Facebook}}
	<li><a href="{{.Facebook}}">Send {{.Failer}} a Facebook Message</a>
	{{end}}
	{{if .Twitter}}
	<li><a href="{{.Twitter}}">@{{.Failer}} on Twitter</a></li>
	{{end}}
	{{if .Linkedin}}
	<li><a href="{{.Linkedin}}">Share a Post on {{.Failer}}'s LinkedIn</a></li>
	{{end}}
	{{if .Email}}
	<li><a href="{{.Email}}">Send {{.Failer}} an email</a></li>
	{{end}}
</ul>
{{else}}
<p>{{.Failer}} is a coward and did not want to give us any contact information.
But you know them, so go track them down.</p>
{{end}}
